/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
}

hr
{
margin-top: 10px;
}

/* contenitore blocco di pagina */
#container {
  width: 90%;
  margin: 0 auto;
}

/* header */
header {
padding: 10px;
}

h1 {
color: white;
font-size: 20px;
display: inline-block;
}
