/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
}

hr
{
margin-top: 10px;
}

/* contenitore blocco di pagina */
#container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

/* header */
header, section {
padding: 10px;
}

h1 {
color: white;
font-size: 20px;
display: inline-block;
position: absolute;
margin-top: 50px;
padding-left: 15px;
}

/* sezione info mail non lette */

h2 {
color: white;
}
#count-mail
{
border-radius: 15px;
background-color: orange;
padding: 5px;
}

/* sezione lista mail */
.row
{
background-color: #ccccff;
padding: 5px;
margin: 0;
border: 1px solid black;
}

.left-row, .right-row {
display: inline-block;
}

.left-row{
font-weight: bolder;
}

.right-row
{
color: grey;
}

.row.unread {
background-color: white;
}
